@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-dots li div {
  @apply w-3 h-3 bg-white rounded-full opacity-50 transition-all duration-300;
}

.slick-dots li.slick-active div {
  @apply bg-green-600 opacity-100 scale-125;
}
